body {
  color: var(--text-dark);
  background: var(--bg-light);
  min-height: 100svh;
  font-family: var(--font-main);
  display: grid;
  grid-template-areas:
  "header nav"
  "main main"
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr 60px;
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}