body {
  color: var(--text-dark);
  background: var(--bg-light);
  min-height: 100svh;
  font-family: var(--font-main);
  display: grid;
  grid-template-areas:
  "header nav"
  "main main"
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr 60px;
  background-color: #a3b18a;
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #588157;
}

h1 {
  color: var(--h1-text);
  border-bottom: 3px solid var(--h2-border);
  padding-bottom: 1px;
}

h3 {
  color: var(--h3-text);
}

:root {
    --bg-light: #f9fffb;
    --text-dark: #2c3e50;
    --font-main: 'Segoe UI', sans-serif;

    --h1-bg: #344e41;
    --h1-text: #344e41;
    --h2-text: #3a5a40;
    --h2-border: var(--h1-bg);
    --h3-text: #a3b18a;

    --list-bg: #e8f8f0;
    --list-border: #A1D69A;
    --strong-text: var(--h3-text);
    --code-bg: #f0f0f0;

    --def-bg: #f2fef9;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg: var(--h2-text);
    --nav-text: var(--code-bg);

    --footer-bg: var(--h1-bg); 
    --footer-text: var(--h1-text);
}