body {
  color: var(--text-dark);
  background: var(--bg-light);
  min-height: 100svh;
  font-family: var(--font-main);
  display: grid;
  grid-template-areas:
  "header nav"
  "main main"
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr 60px;
  background-color: #a3b18a;
}
header {
  grid-area: header;
  margin: 10px;
}
nav {
  grid-area: nav;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
   text-decoration: none;
   font-weight: 700;
   font-size: 23px;
}

nav a:hover {
   text-decoration: underline;
   font-weight: bold;
}


main {
  grid-area: main;
  margin-left: 10px;
}
footer {
  grid-area: footer;
  background-color: #588157;
  
}

h1 {
  color: var(--h1-text);
  border-bottom: 3px solid var(--h2-border);
  padding-bottom: 1px;
  font-family: "anta", sans-serif;
}

h2 {
  color: var(--h2-text);
  font-size: 30px;
  font-family: "Roboto+Slab", sans-serif;
}

h3 {
  color: var(--h3-text);
}

footer h3 {
  padding-left: 15px;
  font-family: "anta", sans-serif;
}

p{
font-family: "Oswald", sans-serif;
font-size: 20px;
  
}

:root {
    --bg-light: #f9fffb;
    --text-dark: #2c3e50;
    --font-main: 'Segoe UI', sans-serif;

    --color1: #dfeedf;
    --color2: #011801;


    --h1-bg: #000000;
    --h1-text: #000000;
    --h2-text: #2c5333;
    --h2-border: var(--h1-bg);
    --h3-text: #a3b18a;
    --p-text: #143d0a;

    --list-bg: #e8f8f0;
    --list-border: #A1D69A;
    --strong-text: var(--h3-text);
    --code-bg: #f0f0f0;

    --def-bg: #f2fef9;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg: var(--h2-text);
    --nav-text: var(--code-bg);

    --footer-bg: var(--h1-bg); 
    --footer-text: var(--h1-text);

}

html, body{
height: 100%;
margin: 0;
background: linear-gradient(135deg, var(--color1), var(--color2));

}